In [267]:
import pandas as pd

In [268]:
google_mobility_2020 = pd.read_csv('../data/google_mobility/2020_US_Region_Mobility_Report.csv')
google_mobility_2021 = pd.read_csv('../data//google_mobility/2021_US_Region_Mobility_Report.csv')
google_mobility_2020.drop(['country_region_code','country_region','sub_region_1','sub_region_2','metro_area','iso_3166_2_code','census_fips_code'],axis=1,inplace=True)
google_mobility_2021.drop(['country_region_code','country_region','sub_region_1','sub_region_2','metro_area','iso_3166_2_code','census_fips_code'],axis=1,inplace=True)

In [269]:
region_list = ['ChIJCzYy5IS16lQRQrfeQ5K5Oxw']

In [270]:
df_list = []
for i in region_list:
    df_t1 = google_mobility_2020.loc[google_mobility_2020['place_id']==i]
    df_t2 = google_mobility_2021.loc[google_mobility_2021['place_id']==i]
    df_t1 = df_t1[15:]
    df_t1['date'] = pd.to_datetime(df_t1['date'])
    df_t2['date'] = pd.to_datetime(df_t2['date'])
    df_t1.drop(['place_id'],inplace=True,axis=1)
    df_t2.drop(['place_id'],inplace=True,axis=1)
    df_t1.set_index('date',inplace = True)
    df_t2.set_index('date', inplace = True)
    df_t = pd.concat([df_t1,df_t2],axis=0)
    df_list.append(df_t)
    # print(df_t.loc[df_t['date']=='2020-03-03'])

<ipython-input-270-1bc4cc2355c4>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_t2['date'] = pd.to_datetime(df_t2['date'])
/home/flamealchemist/projects/NYC/Env/lib/python3.8/site-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [271]:
mobility_data_google = pd.concat(df_list).groupby(level=0).mean()

In [272]:
mobility_data_google = mobility_data_google[:-5]
mobility_data_google.tail()

,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
date,,,,,,
2021-04-16,-11.0,-6.0,8.0,-27.0,-29.0,8.0
2021-04-17,-8.0,-2.0,35.0,-17.0,-12.0,2.0
2021-04-18,-5.0,-2.0,38.0,-16.0,-13.0,2.0
2021-04-19,-10.0,-3.0,14.0,-28.0,-29.0,8.0
2021-04-20,-8.0,-1.0,21.0,-28.0,-29.0,8.0

In [273]:
apple_mobility_data = pd.read_csv('../data/applemobilitytrends-2021-04-20.csv')

/home/flamealchemist/projects/NYC/Env/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [274]:
print(apple_mobility_data.head())

         geo_type     region transportation_type alternative_name sub-region  \
0  country/region    Albania             driving              NaN        NaN
1  country/region    Albania             walking              NaN        NaN
2  country/region  Argentina             driving              NaN        NaN
3  country/region  Argentina             walking              NaN        NaN
4  country/region  Australia             driving               AU        NaN

  country  2020-01-13  2020-01-14  2020-01-15  2020-01-16  ...  2021-04-11  \
0     NaN       100.0       95.30      101.43       97.20  ...      181.11
1     NaN       100.0      100.68       98.93       98.46  ...      156.97
2     NaN       100.0       97.07      102.45      111.21  ...       54.24
3     NaN       100.0       95.11      101.37      112.67  ...       43.43
4     NaN       100.0      102.98      104.21      108.63  ...      112.85

   2021-04-12  2021-04-13  2021-04-14  2021-04-15  2021-04-16  2021-04-17  \
0      134.52      121.12      113.90      108.87      118.82      137.63
1      155.61      128.57      143.03      145.42      143.71      153.22
2       67.02       68.35       69.81       71.46       79.26       81.24
3       63.50       64.89       67.36       66.05       70.13       68.50
4      117.10      120.98      124.67      131.33      128.89      106.49

   2021-04-18  2021-04-19  2021-04-20
0      141.20      116.15      114.33
1      140.68      149.68      142.30
2       52.83       60.19       63.25
3       40.28       56.19       58.81
4      106.19      109.87      113.70

[5 rows x 470 columns]

In [275]:
apple_mobility_data = apple_mobility_data.loc[apple_mobility_data['geo_type']=='country/region']

In [276]:
apple_mobility_data = apple_mobility_data.loc[apple_mobility_data['region']=='United States']

In [277]:
apple_mobility_data.drop(['geo_type','region','alternative_name','sub-region','country','transportation_type'],axis=1,inplace=True)

In [278]:
apple_mobility_data = apple_mobility_data.transpose()

In [279]:
apple_mobility_data = apple_mobility_data.rename_axis('Dates').reset_index()

In [280]:
apple_mobility_data.head()

        Dates     146     147     148
0  2020-01-13  100.00  100.00  100.00
1  2020-01-14  102.97   97.77   99.59
2  2020-01-15  105.19   98.84  101.87
3  2020-01-16  108.48   99.04  100.60
4  2020-01-17  125.51  108.03  121.36

In [281]:
apple_mobility_data.rename(columns = {146:"driving",147:"transit",148:"walking"},inplace = True)

In [282]:
apple_mobility_data['Dates'] = pd.to_datetime(apple_mobility_data['Dates'])

In [283]:
apple_mobility_data.set_index("Dates",inplace=True)

In [284]:
print(apple_mobility_data.head())

            driving  transit  walking
Dates
2020-01-13   100.00   100.00   100.00
2020-01-14   102.97    97.77    99.59
2020-01-15   105.19    98.84   101.87
2020-01-16   108.48    99.04   100.60
2020-01-17   125.51   108.03   121.36

In [285]:
apple_mobility_data = apple_mobility_data.loc['2020-03-01':'2021-04-20']

In [286]:
owid = pd.read_csv('../data/owid-covid-data.csv')

In [287]:
owid = owid.iloc[:,0:21]

In [288]:
owid['Dates'] = pd.to_datetime(owid['date'])

In [289]:
owid.set_index("Dates",inplace=True)

In [290]:
# owid['Dates'] = pd.to_datetime(owid.index)

In [291]:
owid.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 472 entries, 2020-03-01 to NaT
Data columns (total 21 columns):
 #   Column                                                Non-Null Count  Dtype
---  ------                                                --------------  -----
 0   date                                                  416 non-null    object
 1   total_cases                                           416 non-null    float64
 2   new_cases                                             416 non-null    float64
 3   weekly_new_cases_average                              416 non-null    float64
 4   new_cases_yesterday                                   416 non-null    float64
 5   new_deaths                                            416 non-null    float64
 6   weeky_new_deaths_average                              416 non-null    float64
 7   new_deaths_yesterday                                  416 non-null    float64
 8   new_tests                                             416 non-null    float64
 9   weekly_new_tests_average                              416 non-null    float64
 10  new_tests_yesterday                                   416 non-null    float64
 11  positive_rate                                         416 non-null    float64
 12  total_vaccinations                                    416 non-null    float64
 13  total_vaccinations_yesterday                          416 non-null    float64
 14  people_vaccinated                                     416 non-null    float64
 15  people_vaccinated_yesterday                           416 non-null    float64
 16  people_fully_vaccinated                               416 non-null    float64
 17  people_fully_vaccinated_yesterday                     416 non-null    float64
 18  population_not_staying_at_home                        378 non-null    float64
 19  population_not_staying_at_home_previous_week_average  392 non-null    float64
 20  stringency_index                                      416 non-null    float64
dtypes: float64(20), object(1)
memory usage: 81.1+ KB

In [292]:
owid.drop(['population_not_staying_at_home','population_not_staying_at_home_previous_week_average'],inplace=True,axis=1)

In [293]:
owid.dropna(inplace=True)

In [294]:
owid = owid.iloc[:,0:21]

In [295]:
owid.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 416 entries, 2020-03-01 to 2021-04-20
Data columns (total 19 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   date                               416 non-null    object
 1   total_cases                        416 non-null    float64
 2   new_cases                          416 non-null    float64
 3   weekly_new_cases_average           416 non-null    float64
 4   new_cases_yesterday                416 non-null    float64
 5   new_deaths                         416 non-null    float64
 6   weeky_new_deaths_average           416 non-null    float64
 7   new_deaths_yesterday               416 non-null    float64
 8   new_tests                          416 non-null    float64
 9   weekly_new_tests_average           416 non-null    float64
 10  new_tests_yesterday                416 non-null    float64
 11  positive_rate                      416 non-null    float64
 12  total_vaccinations                 416 non-null    float64
 13  total_vaccinations_yesterday       416 non-null    float64
 14  people_vaccinated                  416 non-null    float64
 15  people_vaccinated_yesterday        416 non-null    float64
 16  people_fully_vaccinated            416 non-null    float64
 17  people_fully_vaccinated_yesterday  416 non-null    float64
 18  stringency_index                   416 non-null    float64
dtypes: float64(18), object(1)
memory usage: 65.0+ KB

In [296]:
print(mobility_data_google.info())

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 416 entries, 2020-03-01 to 2021-04-20
Data columns (total 6 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   retail_and_recreation_percent_change_from_baseline  416 non-null    float64
 1   grocery_and_pharmacy_percent_change_from_baseline   416 non-null    float64
 2   parks_percent_change_from_baseline                  416 non-null    float64
 3   transit_stations_percent_change_from_baseline       416 non-null    float64
 4   workplaces_percent_change_from_baseline             416 non-null    float64
 5   residential_percent_change_from_baseline            416 non-null    float64
dtypes: float64(6)
memory usage: 22.8 KB
None

In [297]:
print(mobility_data_google.head())

            retail_and_recreation_percent_change_from_baseline  \
date
2020-03-01                                               13.0
2020-03-02                                                7.0
2020-03-03                                               11.0
2020-03-04                                                8.0
2020-03-05                                                8.0

            grocery_and_pharmacy_percent_change_from_baseline  \
date
2020-03-01                                                9.0
2020-03-02                                                6.0
2020-03-03                                               10.0
2020-03-04                                                6.0
2020-03-05                                                7.0

            parks_percent_change_from_baseline  \
date
2020-03-01                                18.0
2020-03-02                                10.0
2020-03-03                                20.0
2020-03-04                                17.0
2020-03-05                                21.0

            transit_stations_percent_change_from_baseline  \
date
2020-03-01                                            7.0
2020-03-02                                            2.0
2020-03-03                                            3.0
2020-03-04                                            2.0
2020-03-05                                            2.0

            workplaces_percent_change_from_baseline  \
date
2020-03-01                                      3.0
2020-03-02                                      3.0
2020-03-03                                      2.0
2020-03-04                                      3.0
2020-03-05                                      3.0

            residential_percent_change_from_baseline
date
2020-03-01                                      -1.0
2020-03-02                                      -1.0
2020-03-03                                      -1.0
2020-03-04                                      -1.0
2020-03-05                                      -1.0

In [298]:
print(apple_mobility_data.info())

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 416 entries, 2020-03-01 to 2021-04-20
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   driving  413 non-null    float64
 1   transit  413 non-null    float64
 2   walking  413 non-null    float64
dtypes: float64(3)
memory usage: 13.0 KB
None

In [299]:
apple_mobility_data.fillna(method = 'ffill',inplace=True)

In [300]:
apple_mobility_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 416 entries, 2020-03-01 to 2021-04-20
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   driving  416 non-null    float64
 1   transit  416 non-null    float64
 2   walking  416 non-null    float64
dtypes: float64(3)
memory usage: 13.0 KB

In [301]:
mega_data = pd.concat([mobility_data_google,apple_mobility_data],axis=1)

In [302]:
# mega_data.set_index("date",inplace=True)

In [303]:
# mega_data.fillna(method = 'ffill',inplace=True)

In [304]:
# mega_data.dropna(inplace=True)

In [305]:
print(mega_data.info())

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 416 entries, 2020-03-01 to 2021-04-20
Data columns (total 9 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   retail_and_recreation_percent_change_from_baseline  416 non-null    float64
 1   grocery_and_pharmacy_percent_change_from_baseline   416 non-null    float64
 2   parks_percent_change_from_baseline                  416 non-null    float64
 3   transit_stations_percent_change_from_baseline       416 non-null    float64
 4   workplaces_percent_change_from_baseline             416 non-null    float64
 5   residential_percent_change_from_baseline            416 non-null    float64
 6   driving                                             416 non-null    float64
 7   transit                                             416 non-null    float64
 8   walking                                             416 non-null    float64
dtypes: float64(9)
memory usage: 32.5 KB
None

In [306]:
mega_data.head()

,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline,driving,transit,walking
2020-03-01,13.0,9.0,18.0,7.0,3.0,-1.0,101.04,85.31,102.29
2020-03-02,7.0,6.0,10.0,2.0,3.0,-1.0,107.73,98.06,99.20
2020-03-03,11.0,10.0,20.0,3.0,2.0,-1.0,112.98,100.26,104.76
2020-03-04,8.0,6.0,17.0,2.0,3.0,-1.0,113.05,101.50,104.61
2020-03-05,8.0,7.0,21.0,2.0,3.0,-1.0,119.74,103.53,111.67

In [307]:
mega_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 416 entries, 2020-03-01 to 2021-04-20
Data columns (total 9 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   retail_and_recreation_percent_change_from_baseline  416 non-null    float64
 1   grocery_and_pharmacy_percent_change_from_baseline   416 non-null    float64
 2   parks_percent_change_from_baseline                  416 non-null    float64
 3   transit_stations_percent_change_from_baseline       416 non-null    float64
 4   workplaces_percent_change_from_baseline             416 non-null    float64
 5   residential_percent_change_from_baseline            416 non-null    float64
 6   driving                                             416 non-null    float64
 7   transit                                             416 non-null    float64
 8   walking                                             416 non-null    float64
dtypes: float64(9)
memory usage: 32.5 KB

In [308]:
mega_data_2 = pd.concat([owid,apple_mobility_data,mobility_data_google],axis=1)

In [309]:
mega_data_2.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 416 entries, 2020-03-01 to 2021-04-20
Data columns (total 28 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   date                                                416 non-null    object
 1   total_cases                                         416 non-null    float64
 2   new_cases                                           416 non-null    float64
 3   weekly_new_cases_average                            416 non-null    float64
 4   new_cases_yesterday                                 416 non-null    float64
 5   new_deaths                                          416 non-null    float64
 6   weeky_new_deaths_average                            416 non-null    float64
 7   new_deaths_yesterday                                416 non-null    float64
 8   new_tests                                           416 non-null    float64
 9   weekly_new_tests_average                            416 non-null    float64
 10  new_tests_yesterday                                 416 non-null    float64
 11  positive_rate                                       416 non-null    float64
 12  total_vaccinations                                  416 non-null    float64
 13  total_vaccinations_yesterday                        416 non-null    float64
 14  people_vaccinated                                   416 non-null    float64
 15  people_vaccinated_yesterday                         416 non-null    float64
 16  people_fully_vaccinated                             416 non-null    float64
 17  people_fully_vaccinated_yesterday                   416 non-null    float64
 18  stringency_index                                    416 non-null    float64
 19  driving                                             416 non-null    float64
 20  transit                                             416 non-null    float64
 21  walking                                             416 non-null    float64
 22  retail_and_recreation_percent_change_from_baseline  416 non-null    float64
 23  grocery_and_pharmacy_percent_change_from_baseline   416 non-null    float64
 24  parks_percent_change_from_baseline                  416 non-null    float64
 25  transit_stations_percent_change_from_baseline       416 non-null    float64
 26  workplaces_percent_change_from_baseline             416 non-null    float64
 27  residential_percent_change_from_baseline            416 non-null    float64
dtypes: float64(27), object(1)
memory usage: 94.2+ KB

In [310]:
mega_data_2.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 416 entries, 2020-03-01 to 2021-04-20
Data columns (total 28 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   date                                                416 non-null    object
 1   total_cases                                         416 non-null    float64
 2   new_cases                                           416 non-null    float64
 3   weekly_new_cases_average                            416 non-null    float64
 4   new_cases_yesterday                                 416 non-null    float64
 5   new_deaths                                          416 non-null    float64
 6   weeky_new_deaths_average                            416 non-null    float64
 7   new_deaths_yesterday                                416 non-null    float64
 8   new_tests                                           416 non-null    float64
 9   weekly_new_tests_average                            416 non-null    float64
 10  new_tests_yesterday                                 416 non-null    float64
 11  positive_rate                                       416 non-null    float64
 12  total_vaccinations                                  416 non-null    float64
 13  total_vaccinations_yesterday                        416 non-null    float64
 14  people_vaccinated                                   416 non-null    float64
 15  people_vaccinated_yesterday                         416 non-null    float64
 16  people_fully_vaccinated                             416 non-null    float64
 17  people_fully_vaccinated_yesterday                   416 non-null    float64
 18  stringency_index                                    416 non-null    float64
 19  driving                                             416 non-null    float64
 20  transit                                             416 non-null    float64
 21  walking                                             416 non-null    float64
 22  retail_and_recreation_percent_change_from_baseline  416 non-null    float64
 23  grocery_and_pharmacy_percent_change_from_baseline   416 non-null    float64
 24  parks_percent_change_from_baseline                  416 non-null    float64
 25  transit_stations_percent_change_from_baseline       416 non-null    float64
 26  workplaces_percent_change_from_baseline             416 non-null    float64
 27  residential_percent_change_from_baseline            416 non-null    float64
dtypes: float64(27), object(1)
memory usage: 94.2+ KB

In [311]:
mega_data_2.to_csv('../data/data_new.csv')